<%= render partial: "shared/edit_button", locals: { partial_path: @blog_path } %>

<div class="blogposts">
  <h2>
    Blog
  </h2>
  <div class="container">
    <div class="row">
      <% if @post_collection.is_a?(Array) %>
      <% @post_collection.each do |post| %>
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <%= raw(post["description"]) %>
      </div>
      <% end %>
      <% else %>
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <%= raw(@post_collection["description"]) %>
      </div>
      <% end %>
    </div>
  </div>
</div>