<div class="banner" style="background-image:url('<%= image_path banner_image %>');">
  <% if banner_home %>
  <div class="banner-content">
    <h3>
      unfold your
    </h3>
    <div class="changing-text-container">
      <h3 id="unfold-target"></h3>
    </div>
  </div>
  <% end %>
</div>