<div class="footer">
  <ul class="list-inline">
    <li>
      <i class="fa fa-facebook"></i>
    </li>
    <li>
      <i class="fa fa-twitter"></i>
    </li>
    <li>
      <i class="fa fa-pinterest"></i>
    </li>
    <li>
      <i class="fa fa-linkedin"></i>
    </li>
    <li>
      <i class="fa fa-envelope"></i>
    </li>
  </ul>
  <p>
    info@weunfold.it
  </p>
</div>