<h2 class="text-center marged-small">
  contact information
</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="text-right">
        <h3>
          B.Amsterdam
        </h3>
        <ul class="list-unstyled">
          <li>
            Johan Huizingalaan 763A
          </li>
          <li>
            1066 VH Amsterdam
          </li>
          <li>
            Netherlands
          </li>
        </ul>
        <ul class="list-unstyled">
          <li>
            +31 6 578 417 83
          </li>
          <li>
          <a href="MAILTO:love@weunfold.it?subject=Hello World">
              love@weunfold.it
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div id="map"></div>
    </div>
  </div>
</div>


<%= render partial: "shared/maps" %>